@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Chewy&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Exo:ital,wght@0,100..900;1,100..900&family=Great+Vibes&family=Jura:wght@300..700&family=Libre+Caslon+Text:wght@400;700&family=Pinyon+Script&family=Playwrite+VN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Shadows+Into+Light&family=Teko:wght@300..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", serif;
}

body {
  background-image: linear-gradient(to right, #283c86, #45a247);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
}
html, body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  width: 100%;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(74, 74, 74, 0.6);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.83);
  /* position: fixed; */
}

header h2 {
  font-size: 30px;
  background-image: linear-gradient(45deg, #E88C4A 48%, #E07A37 60%, #D86825 50%, #CC5613 25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header a {
  text-decoration: none;
  background-image: linear-gradient(45deg, #559bf6 48%, #1aa11a 80%, #6a1c66 50%, #33b048 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: larger;
  font-weight: 500;
}

header a:hover {
  color: #c3c0c0;
}

input::placeholder {
  color: rgb(6, 4, 4);
  font-style: unset;
  font-size: 14px;
  width: fit-content;
}

h1 {
  text-align: center;
  font-size: 90px;
  background-image: linear-gradient(45deg, #62e84a 48%, #379ae0 60%, #278eee 50%, #278eee 25%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.two {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#hh {
  text-align: center;
  background: rgba(156, 150, 150, 0.45);
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 10px;
  padding: 20px;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

input, .country, select {
  width: 100%;
  max-width: 250px;
  height: 40px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
}

#bb {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

form #bbs {
  margin: 10px;
  padding: 10px 50px;
  text-align: center;
  font-size: 18px;
  background-size: 100% auto;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 20px #000000;
  border-radius: 10px;
  background-image: linear-gradient(to right, #2d9f30 0%, #5a8ef6 51%, #0077ff 100%);
}

#bbs:hover {
  background-position: right center;
}

.container {
  max-height: 430px;
  padding: 30px 30px;
  margin: 40px 0;
  display: none;
  text-align: center;
  overflow: auto;
  width: 80%;
}

.container::-webkit-scrollbar {
  display: none;
}

.fname, .score, .lname, .country {
  border: none;
}

.total-amount {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: rgb(43, 132, 126);
  padding: 10px 20px;
  border-radius: 8px;
}

#cc {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  width: 95%;
  height: 100%;
  background-color: rgb(228, 209, 243);
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(16.5px);
  border-radius: 10px;
  padding: 20px;
}

#ccs {
  width: 35%;
  height: 35%;
  padding-left: 50px;
}

#tt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  height: 100%;
  background-image: url(../../assets/wallpaperflare-cropped.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 30px 0;
}

#ttd {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 54px 0px rgba(0, 0, 0, 0.75);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  color: rgb(224, 224, 224);
}
#income{
  width: 100%;
  max-width: 200px;
}

#taxForm button {
  background-image: linear-gradient(to right, #2d9f30 0%, #5a8ef6 51%, #0077ff 100%);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px;
}

#taxForm button:hover {
  background-color: darkred;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ccc;
  text-align: left;
  padding: 10px;
}

th {
  background: rgba(0, 0, 0, 0.1);
}

tbody tr:nth-child(odd) {
  background: rgba(0, 145, 255, 0.7);
}

tbody tr:nth-child(even) {
  background: #2d9f30;
}

#result p {
  font-size: 18px;
  font-weight: bold;
  line-height: 30px;
}

.player-item {
  width: 100%;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: start;
  background: rgba(255, 255, 255, 0.45);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  height: auto;
  padding: 13px 20px;
  border: 1px solid black;
}

.hamburger-menu {
  font-size: 24px;
  cursor: pointer;
  display: none;
  color: #fff;
}

nav.menu {
  display: flex;
  gap: 20px;
}

nav.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

nav.menu a:hover {
  color: #c3c0c0;
}


@media (max-width: 950px) {
  .hamburger-menu {
    display: block;
  }

  nav.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    right: 20px;
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 8px;
  }

  nav.menu.active {
    display: flex;
    z-index: 100;
  }

  /* #ccs {
    width: 100%;
    text-align: center;
  } */

  #hh {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  input, .country {
    width: 80%;
  }

  #ttd {
    width: 80%;
  }

  .two {
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 100%;
  }

  #bb {
    width: 100%;
  }
  #hh{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
  }

  form #bbs {
    width: 20%;
    padding: 10px 20px;
    font-size: 16px;
  }

  header h2 {
    font-size: 24px;
  }
  input, .country, select {
    width: 90%;
    max-width: 80px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  #cc{
    width: 100%;
    height: 1000px;
    text-align: center;
  }
  h1{
    font-size: 36px;
  }
  #ccs{
    width: 100%;
    height: 600px;

  }
  #tt{
    width: 90%;
  }
  #ttd{
    width: 100%;
  }
}

@media (max-width: 600px) {
  header {
    padding: 10px 15px;
  }

  header h2 {
    font-size: 22px;
  }

  h1 {
    font-size: 60px;
  }

  .container {
    width: 90%;
  }

  #ccs {
    width: 80%;
  }

  table {
    font-size: 14px;
  }

  #ttd {
    width: 90%;
  }
}

@media screen and (max-width: 1122px) {
  input, .country, select {
    width: 100%;
    max-width: 150px;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  #cc{
    width: 90%;
    height: max-content;
    text-align: center;
  }
  #ccs{
    width: 60%;
    height: 400px;
  }
  #tt{
    width: 90%;
  }
  #ttd{
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  #ccs {
    width: 100%;
    text-align: center;
  }

  #hh {
    flex-direction: column;
    gap: 20px;
    width: 100%;
  }

  input, .country {
    width: 80%;
  }

  #ttd {
    width: 80%;
  }

  .two {
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 100%;
  }

  #bb {
    width: 100%;
  }
  #hh{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    flex-wrap: wrap;
  }

  form #bbs {
    width: 90%;
    padding: 10px 20px;
    font-size: 16px;
  }

  header h2 {
    font-size: 20px;
  }
  input, .country, select {
    width: 100%;
    max-width: 90%;
    height: 40px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }
  #cc{
    width: 90%;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffffbf;
    /* color: white; */
  }
  #expenseChart{
    width: 100%;
    height: 600px;
    /* background-color: #f0f0f0; */
  }
  
  h1{
    font-size: 36px;
  }
  #ccs{
    width: 100%;
    height: 600px;
  }
  #tt{
    width: 90%;
    height: 100%;
  }
  #ttd{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 100%;
  }
  #taxForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

  }
  #taxForm button{
    width: 100%;
  }
  #income{
    width: 100%;
    max-width: 100%;
  }
}




